.card__section {
  margin-top: 20px;
}

.card__name {
  background-color: white;
  border-radius: 4px;
  position: relative;
  top: -320px;
  left: 106px;
  padding: 2px 12px 2px 12px;
  width: fit-content;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.modal__name-input {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

.modal__name-submit {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 8px;
  padding-bottom: 4px;
}

.modal__image-input {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 10px 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

.modal__image-submit {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 8px;
  padding-bottom: 4px;
}

.hot__input {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
  align-items: flex-start;
}

.warm__input {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
  align-items: flex-start;
}

.cold__input {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
  align-items: flex-start;
}

.weather__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}
