.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 40px 28px;
}

.header__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 0;
  background: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.current__date {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.add__clothes-button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  border: none;
  outline: none;
  background: none;
}

.header__avatar-name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: #000;
}
